[2015-04-10 02:15] markau opened #1 "Invalid salt version: 2"
The deployment went perfectly - thank you!.  When navigating to /ghost/settings (for initial config) and clicking save, I got the error "Invalid salt version: 2" [screenshot](http://i.imgur.com/WO44opY.png?1).

Subsequently navigating to /ghost/settings/ redirects to /ghost/signin/ where entering username and password again throws the error "Invalid salt version: 2".

[2015-04-10 05:57] markau commented on #1
Well, I deleted the Azure Web App and repeated the process, and it worked this time. I suppose I will close the issue. Thank you.

[2015-04-10 05:57] #1 closed

[2015-04-10 05:59] felixrieseberg commented on #1
Thanks for reporting though! I have to admit that I have no idea what happened (I guess something inside bcrypt), but I'll ignore this one for now :)

[2015-04-22 03:27] vvianyy commented on #1
It happens here:  Invalid salt version: 2

[2015-04-29 05:36] swegner opened #2 "Ghost 0.6.2 Available"
Thanks for providing this tool! Are there steps to pull in the latest Ghost updates? If so, I'd love to contribute.

[2015-04-29 10:06] felixrieseberg commented on #2
Thanks for the nudge, I updated the files!

[2015-04-29 10:06] #2 closed

[2015-08-05 20:13] logiclabs opened #5 "Selecting an existing App Service Plan / Server Farm"
It doesn't seem to be possible to use an existing server farm/app service plan.  After install, a new App Service Plan gets created with the same name as the site.  Or have I missed something?

It's possible to [move the app manually](http://stackoverflow.com/questions/23685094/is-it-possible-to-move-a-website-to-a-different-web-hosting-plan) post-install, but it'd be nice to be able to pick this

[2015-08-06 18:17] felixrieseberg commented on #5
Good question - I hope that @davidfowl, @suwatch, @davidebbo might know if that's somehow possible?

[2015-08-06 21:00] davidebbo commented on #5
@logiclabs can you clarify what workflow you are using to install it? e.g. git push your own, gallery, Deploy to Azure button, ...

[2015-08-06 21:06] logiclabs commented on #5
@davidebbo The Deploy To Azure button on the github repo's README.

[2015-08-06 22:00] davidebbo commented on #5
I think the Deploy Button doesn't support this today. However, if you download the [ARM template](https://github.com/felixrieseberg/Ghost-Azure/blob/master/azuredeploy.json), you can deploy it from the command line using PowerShell and pass an arbitrary server farm.

[2015-08-07 11:21] logiclabs commented on #5
Ok.. good to know for future DtoA deployments. Thanks!

[2015-08-07 11:21] #5 closed

[2015-08-27 21:13] ErisDS commented on #1
I just discovered the underlying cause of this error. There was a bit of code in Ghost that was missed during a refactor, meaning the second char of the password hash was being stored instead of the whole hash.

This particular piece of code only gets executed if something else goes wrong though! It only happens in the exact case that you try to setup your blog and the 'owner user' fixture is not

[2015-09-25 13:52] jijobose opened #6 "No Security Certificate for the Custom Domain"
I added the custom domain in "WebsiteUrl" in Azure.
But When I try to access the admin by "example.com/ghost", it gives Security Certificate Error (NET::ERR_CERT_COMMON_NAME_INVALID)

Please let me know how do I fix this?

ghost-0.7.0

[2015-10-01 09:29] MaherJendoubi opened #7 "Update to 0.7.1"
Hi,

Would you please update Ghost  to 0.7.1?
https://github.com/TryGhost/Ghost/releases

Regards,
Maher

[2015-10-01 20:00] felixrieseberg commented on #7
Thanks for reminding me - this is now done!

[2015-10-01 20:00] #7 closed

[2015-10-03 04:30] TerribleDev commented on #6
see the property forceAdminSSL in config.js

[2015-10-03 09:50] JijoBose commented on #6
Thank you :+1:

[2015-10-03 09:50] #6 closed

[2015-10-20 20:29] mbecker opened #8 "Request for Wiki: How to clone from azure to local to test"
Hi,

thank you very much for your work! It would be very nice if you could explain how to load the files from your Azure Webpage to your local machine (via FTP), set the specific parameters to run the same ghost instance locally and push changes via git.

Could you please write a Wiki Page which parameters must be set to run the instance locally?

Thanks in advance

Mats

[2015-10-20 21:54] TerribleDev commented on #8
I can do that, I run it locally a lot

[2015-10-20 21:57] felixrieseberg commented on #8
@mbecker: Good point! @tparnell8: Awesome, thank you :clap:!

[2015-10-21 06:24] mbecker commented on #8
@tparnell8 I would appreciate it very much! Thank you!

[2015-10-21 11:19] TerribleDev commented on #8
Sorry I didn't get to this, I will have an opportunity to drop something in about 12 hours from the time of this comment.

[2015-10-22 02:08] TerribleDev commented on #8
@mbecker  #9

[2015-10-29 05:43] NickBrooks opened #10 "Azure Storage Image Hosting"
Just looking at the default location for image uploads, it is the default for Ghost which is `/content/images/`... is there a plan to move this to true Azure Storage hosting for something like `https://XXX.blob.core.windows.net/container/image.jpg`??

[2015-11-02 18:03] felixrieseberg commented on #10
Hey @NickBrooks, thanks for asking - I don't want to change Ghost in any way, so not in this repo. Ghost does support custom image storage providers (https://github.com/TryGhost/Ghost/wiki/Using-a-custom-storage-module), but I don't think that one for Azure Blob storage is available yet... So it's still looking for a brave hero to build it ;-)

I'll be closing this issue in the meantime.

[2015-11-02 18:03] #10 closed

[2015-11-05 23:53] acb122 opened #11 "Hi"
I pushed broken code to my server by accident but then fixed it but my server is still down how do i get azure to restart? i have tried running npm start --production

[2015-11-05 23:54] felixrieseberg commented on #11
Just restart your website!

[2015-11-05 23:54] #11 closed

[2015-11-05 23:54] acb122 commented on #11
i get this

module.js:340
    throw err;
          ^
Error: Cannot find module 'handlebars'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (D:\home\site\wwwroot\node_modules\express-hbs\lib\hbs.js:6:18)
    at Module._compile (module.js:45

[2015-11-05 23:57] acb122 commented on #11
i added a new package and it has broken it. it runs locally fine

[2015-11-05 23:57] TerribleDev commented on #11
can you run npm install?

[2015-11-06 00:04] acb122 commented on #11
i get this
npm install
D:\home\site\wwwroot
npm http GET https://registry.npmjs.org/unidecode/-/unidecode-0.1.3.tgz
npm http GET https://registry.npmjs.org/bookshelf/-/bookshelf-0.7.9.tgz
npm http GET https://registry.npmjs.org/intl-messageformat/-/intl-messageformat-1.1.0.tgz
npm http GET https://registry.npmjs.org/knex/-/knex-0.7.3.tgz
npm http GET https://registry.npmjs.org/lodash/-/lodash-3.10

[2015-11-06 00:05] NickBrooks commented on #11
What package's have you tried to install?

On Fri, 6 Nov 2015 at 10:34 Xander Barnes notifications@github.com wrote:

[2015-11-06 00:06] acb122 commented on #11
https://www.npmjs.com/package/x-frame-options

[2015-11-06 00:09] acb122 commented on #11
i tried reverting my changes and redeploying but it still wont start

[2015-11-06 03:09] TerribleDev commented on #10
Hmm... I think I may try to do this, sometime this weekend...

[2015-11-06 03:30] NickBrooks commented on #10
That'd be awesome, let me know if you need any help. Just makes a lot of
sense if you start to create a lot of content!

On Fri, 6 Nov 2015 at 13:39 Tommy Parnell notifications@github.com wrote:

[2015-11-06 03:48] TerribleDev commented on #10
Agreed, I like the idea. I'm def gunna do this over the weekend

[2015-11-06 07:10] #8 closed

[2015-11-06 07:10] felixrieseberg opened #12 "Explain Difference between Ghost-Azure and Ghost"
(There is barely any, but we should probably explain that)

[2015-11-07 00:30] TerribleDev commented on #10
@NickBrooks @felixrieseberg https://github.com/tparnell8/ghost-azurestorage I mostly do client side js (and by mostly I mean thats pretty much all I do) Please feel free to submit pr's to remove any derpy-ness you see

[2015-11-07 02:51] NickBrooks commented on #10
Looks good I'll take a look on Monday!

[2015-11-07 12:51] TerribleDev commented on #10
It totally works atleast! I was able to use it to host things in storage...

[2015-11-10 07:37] felixrieseberg commented on #10
Awesome, super well done. I'll reference it in the readme :fireworks:!

[2015-11-11 02:34] #12 closed

[2015-12-03 06:07] johnluo opened #15 "Some issues with the Ghost deployed on Azure"
Dear Sir,

Once I deployed the Ghost on Azure, faced the issues. "Updating Website Config” kept going and never stop, I get some error screenshots from My Azure account for you reference as below.

![ghost-1](https://cloud.githubusercontent.com/assets/1750848/11553127/b788a7bc-99c6-11e5-96b5-57860355207e.png)
![ghost-2](https://cloud.githubusercontent.com/assets/1750848/11553128/b872d9c2-99c6-11e5

[2015-12-03 22:19] felixrieseberg commented on #15
Thanks for reporting! I'm sorry to say that I have trouble reproducing your issue - could you do me a favor and try deploying again? Out of 500 deployments, one or two might fail for performance reasons, so I'm afraid that you're just one of the unlucky ones.

[2015-12-04 02:15] johnluo commented on #15
Dear Sir,

I have tried many times(>10) today, the result is the same.

Any Advice?

![ghost-4](https://cloud.githubusercontent.com/assets/1750848/11580206/d5109354-9a6f-11e5-9a89-b31f71dd7f45.png)

Thanks

[2015-12-04 16:59] felixrieseberg commented on #15
Hm... I'm stumped. You're just clicking the "Deploy to Azure" button in the readme, right?

[2015-12-05 11:19] pizycki commented on #15
I have the same situation. Config update phase just keeps spinning and spinning.

[2015-12-05 13:54] johnluo commented on #15
@felixrieseberg

Yup！

![ghost-6](https://cloud.githubusercontent.com/assets/1750848/11608082/a404ecc0-9b9a-11e5-9c20-af4e6b7cde3a.jpg)

[2015-12-05 19:54] felixrieseberg commented on #15
_Super_ weird. I'm so sorry for this, but I have no idea what's wrong. @davidebbo is the currently reigning king of Azure Web Apps - do you have any idea what could be wrong here?

[2015-12-05 20:42] davidebbo commented on #15
Not sure. If you can share the info below as text, it should be possible for someone here to investigate further (info in screenshots is not easily consumable).

Also, as a test, does this simpler repo work for you? https://github.com/Tuesdaysgreen/HelloWorlddemo

[2015-12-06 01:00] johnluo commented on #15
@davidebbo Done and seems no any issues.

Submitting Deployment
Deployment Started
Creating Web Hosting Plan
Creating Website
Setting up Source Control
Fetching changes.
Deployment Complete
Manage your site / Browse to http://helloworld-tesing.azurewebsites.net

Access the URL, I can see 'Hello World 8'

Thanks

[2015-12-06 05:25] johnluo commented on #15
@davidebbo

Dear David,

Pls refer below text info for deploying Ghost to Azure again.

---

OPERATION ID
4FA7EDD0706EA36E
TRACKING ID
b84bdf3c-87ca-41c8-89e0-7eaf4d31605f
STATUS
BadGateway
PROVISIONING STATE
Running
TIMESTAMP
12/6/2015, 1:22:25 PM
DURATION
PT5.5441347S
TYPE
Microsoft.Web/Sites/config
RESOURCE ID
/subscriptions/47933bfc-a1a9-458a-99a2-fdc8bf2b063b/resourceGroups/GhostonAzure1/prov

[2015-12-06 17:19] davidebbo commented on #15
Do you know what time zone '12/6/2015, 1:22:25 PM' is referring to? I thought it would be UTC, but I see no records of any APIs called around that time.

One strange thing is that I see the site GhostonAzure having been created way back on December 3rd, and deleted on December 6th. Were you trying this on an existing site or a new site?

[2015-12-06 17:27] johnluo commented on #15
@davidebbo
1. UTC
2. Yup, deployed it and got fault then just deleted it and rebuilt it today.

[2015-12-06 17:33] davidebbo commented on #15
Seems the time of latest creation is actually 5:22AM on 12/6. And do see the error at that time.

Please try the following:
- go to https://portal.azure.com/
- go to your GhostonAzure
- Go to settings
- Make some random change like setting the PHP version, and click Save

Does that work or also give some error?

[2015-12-06 17:34] johnluo commented on #15
@davidebbo

 Just deployed 5 min ago

---

OPERATION ID
3C1DBA76C6E1FC0A
TRACKING ID
3e86c2a6-880d-4cb4-9003-5bfea6e8116a
STATUS
BadGateway
PROVISIONING STATE
Running
TIMESTAMP
12/7/2015, 1:32:23 AM
DURATION
PT1M16.9996979S
TYPE
Microsoft.Web/Sites/config
RESOURCE ID
/subscriptions/47933bfc-a1a9-458a-99a2-fdc8bf2b063b/resourceGroups/Ghost-Azured8b3/providers/Microsoft.Web/Sites/Ghost-Azured8b3/con

[2015-12-06 17:38] johnluo commented on #15
@davidebbo

FYI

![g1](https://cloud.githubusercontent.com/assets/1750848/11614627/2d5fef18-9c83-11e5-870d-42c28816b7a6.jpg)

![g2](https://cloud.githubusercontent.com/assets/1750848/11614629/31cc2742-9c83-11e5-9cd7-ea3e3255679b.jpg)

![g3](https://cloud.githubusercontent.com/assets/1750848/11614630/353a40e4-9c83-11e5-927d-3fe50870c828.jpg)

[2015-12-06 17:41] johnluo commented on #15
@davidebbo

changed something, and save. updated successfully

[2015-12-06 17:51] davidebbo commented on #15
Ok, I think I may know the problem. This ARM template is targeting an old version of the API which doesn't support RBAC (role based access control). Can you clarify your access to the subscription? i.e. are you admin, co-admin, or only have RBAC access to part of it? Is it a special subscription?

[2015-12-06 18:26] davidebbo commented on #15
Can you try with the deploy button on my fork to see if that helps: https://github.com/davidebbo-test/Ghost-Azure

If you still get errors, please let me know the time and site name of that latest test.

[2015-12-06 18:35] felixrieseberg commented on #15
@davidebbo: Thanks for all this help! Shouldn't I use your updated version anyway, even if it doesn't fix this issue? Yes, right?

[2015-12-06 19:24] davidebbo commented on #15
Yes, definitely. Just sent PR.

[2015-12-07 02:23] johnluo commented on #15
@davidebbo & @felixrieseberg

Thank you all very much! It's available now! awesome job! :))))

---

Submitting Deployment
Deployment Started
Creating Web Hosting Plan
Creating Website
Setting up Source Control
Fetching changes.
Preparing deployment for commit id '4a7bad13bc'.
Generating deployment script.
Running deployment command...
Deployment Complete
Manage your site / Browse to http://ghost-a

[2015-12-07 04:20] davidebbo commented on #15
@johnluo glad that worked!

[2015-12-08 02:11] #15 closed

[2015-12-14 23:38] acb122 opened #17 "deployment slot"
hi,
When trying to use this with azure and then creating a deployment slot and copying production it does not work, just gets an internal error. any ideas how to set this up.

[2015-12-21 08:32] felixrieseberg commented on #17
Hey, without the actual error, there's little I can do to help you. Could you go and check? You should find it in the iisnode folder of your Ghost deployment. Quick tutorial on how to get there:

1) YOURDOMAIN.scm.azurewebsites.net
2) Go to the debug console
3) `cd` into your Ghost folder
4) Find the `iisnode` folder with logs there

[2015-12-21 13:37] MaherJendoubi commented on #7
Hi Felix,
https://github.com/TryGhost/Ghost/releases/tag/0.7.3 is released 5 days ago :)
Thanks

[2015-12-21 14:38] acb122 commented on #17
thanks for getting back to me.

ERROR: casper cannot be activated because it is not currently installed.

 Error
    at Error.ValidationError (D:\home\site\wwwroot\core\server\errors\validation-error.js:6:18)
    at then (D:\home\site\wwwroot\core\server\data\validation\index.js:120:35)
    at tryCatcher (D:\home\site\wwwroot\node_modules\bluebird\js\main\util.js:26:23)
    at Promise._settlePromi

[2016-01-02 22:03] felixrieseberg commented on #17
Could you try installing again? Clearly, something went wrong.

[2016-01-09 17:14] FMastro opened #18 "0.7.4 had api overhauled, any chance to update it?"
I don't mind doing it but not sure if it's just a straight copy of the files over the new ones

[2016-01-10 02:21] felixrieseberg commented on #18
Sure, thanks for the info - it's updated!

[2016-01-10 02:21] #18 closed

[2016-01-10 16:01] FMastro commented on #18
Awesome thank you!!

[2016-01-28 09:02] mjhilton opened #19 "SqlLite3 doesn't install correctly"
Hi there,

I've just installed from the Azure Marketplace (twice - deleted and recreated), and am getting a 500 error. I waited for deployment to complete, gave it some time, and then hit the site - 500. Let it sit for another 5 minutes or so in case install was still going; same problem.

Logs:

[code]

I notice that it's looking for `node_sqlite3.node` under a `node-v46-win32-ia32` directory, bu

[2016-01-28 09:13] mjhilton commented on #19
Whoops. I'd assumed the Azure Marketplace template and this deployment repo were one and the same. They're not.

Tried again via the "Deploy to Azure" button in the readme, and all worked well.

[2016-01-28 09:13] #19 closed

[2016-02-18 09:30] sirvon opened #21 "Typical cost for ghost blog on azure?"
Can anyone speak on the typical monthly cost involved with a ghost blog azure at various traffic levels?

Thanks

[2016-02-18 23:08] TerribleDev commented on #21
sure, although that doesn't pertain to this particular project.

I ran ghost on 1 basic webapp service which costs around 30USD...that being said I bet it would probably work fine on the shared app pool which is only 7USD, but that is an untested assumption.

[2016-02-19 02:18] alexangas commented on #21
I'm running it on Shared. It works fine, although does go down briefly from time to time (Shared is still in Preview I believe).

[2016-02-19 09:08] sirvon commented on #21
Thx! Nice info about shared pool. I'm going that way. Thx for lib.

[2016-03-03 07:25] mkliu opened #24 "Know any people getting Azure AD integration with ghost?"
Or just to sign in using auth instead of its native signing?

[2016-03-03 14:54] felixrieseberg commented on #24
Ghost doesn't support alternative signin providers at this point, so I'll close this in the meantime. Sorry!

[2016-03-03 14:54] #24 closed

[2016-03-10 01:34] mkliu opened #25 "core/client folder?"
The official repo has a client folder under core, any reason why it's not here?

[2016-03-10 03:40] TerribleDev commented on #25
The repo contains source code, not build artifacts...core/client has to be compiled, minified, etc. Otherwise you would be serving a lot of big unminified content...

same reason why core/built exists here but not in the git repo of ghost

[2016-03-10 03:57] mkliu commented on #25
i understand that, but why not do grunt init on azure, becoz of speed?

[2016-03-10 06:40] felixrieseberg commented on #25
The point of this repo is to provide the _built_ version of Ghost as provided by Ghost - with a few configuration files added to make deployments on Azure easy.

If you want to build Ghost from source, I recommend heading over to the Ghost repository ;-)

[2016-03-10 06:40] #25 closed

[2016-03-17 17:15] truongnmt opened #26 "what i have to config if I clone your project then deploy to azure web app?"
thanks so much for your great work.
After I clone your project, I create a web app in Azure and set Deployment Source using Dropbox (I'm finding a easy way for non tech guy using this without git and code stuff) to the project folder I cloned. But site just freeze. Please have a look thanks a lot https://www.dropbox.com/sh/t2j0hhazq422e56/AAB0Hiz2paG8ATyvthnd5bjLa?dl=0

[2016-03-17 17:25] felixrieseberg commented on #26
Sorry, there's not enough information for me to help you - if you have trouble deploying, why don't you just use the "deploy to Azure" button?

[2016-03-17 17:33] truongnmt commented on #26
Thanks for reply so quickly.I want to teach some non-tech guys to create a blog using your tool and Azure, using deploy to Azure button does work, but for example I want to add theme, I have to do with git stuff, I want it go simple because these non-tech guy can't use git, so I want to set deployment source to Dropbox, then if I change theme, I will click sync in Azure.

[2016-03-17 17:35] felixrieseberg commented on #26
Just fork the repo - you can then change files as you wish and still use the deploy button :+1:

![screen shot 2016-03-17 at 10 35 19 am](https://cloud.githubusercontent.com/assets/1426799/13855102/070ad5f0-ec2c-11e5-8145-def317273d09.png)

[2016-03-17 17:36] #26 closed

[2016-03-19 18:47] sirvon opened #27 "Multiple Ghost blogs?"
What if you want to create 1000s of ghost blogs would you deploy this lib 1000s of times or
is there a more prudent way with only 1 or a few installations?

thanks!

i guess pretty much replicating [Ghost(Pro)'s Business plan](https://ghost.org/pricing/ ).

[2016-03-19 21:39] felixrieseberg commented on #27
You would probably run a virtual machine (or better yet, a cluster) - and not use this at all. Azure Web Apps are really meant for people that don't want to run a lot of something ;-)

In that case, I'd probably just recommend a [Docker Cluster in one your favorite flavors](https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-docker-vm-extension/).

[2016-03-19 21:39] #27 closed

[2016-04-20 04:57] rushfrisby opened #28 "Deployment issue"
Got to the Deployment Complete step on deploy.azure.com. Waited a "solid minute" which has turned into an hour, and I'm still getting a blank web page. Actually its a 500 response with no content:

Deploying to a Basic-small instance. Any ideas as to why?

[2016-04-20 11:24] MarkMasiak commented on #28
Did you use the Azure template from the old management portal to install ghost, or did you use the deploy to azure form GitHub?

I found the Azure template didn’t work – i’ve contacted azure support but they didn’t give a sh*t

The GitHub deployment works but does take a while to deploy, then you need to go to domainname/ghost

 https://azuredeploy.net/

If you deployed from Github you should have

[2016-04-20 11:32] MarkMasiak commented on #21
to stop the site going down on Azure...on the azure portal (old version) on the config tab

 set:
 Always On – ON
 Web Sockets – ON
 Platform – 64BIT
 Managed Pipeline mode – INTEGRATED
 PHP – 5.6
 Otherwise the site goes to sleep and you need to restart it and wait 2 min for everything to kick in

[2016-04-20 12:20] rushfrisby commented on #28
I deployed from GitHub using the Deploy to Azure button. I tried from both the felixrieseberg repo and the AzureWebApps fork with no luck. I have a deployments tab in the management portal:

![image](https://cloud.githubusercontent.com/assets/574729/14674062/e5ca26ac-06cf-11e6-83b2-b4adaeee68de.png)

The other settings are as you mentioned. [https://rushghostblog.azurewebsites.net/](https://rushgh

[2016-04-20 12:21] fboucher commented on #28
I got the same problem last weekend. Didn't have the time to investigate. I use the Ghost template from Azure Marketplace :( that one worked.

[2016-04-20 22:03] felixrieseberg commented on #28
Hey everyone, quick update: We upgraded the Ghost repo here to Node v4, which seems to fix a sqlite issue that I'm sure some of you ran into. It should work fine for you now!

[2016-04-20 23:04] rushfrisby commented on #28
That must have fixed it. The deploy to Azure button is working now. Thanks @felixrieseberg

[2016-04-20 23:05] felixrieseberg commented on #28
Thanks for testing! Im going to be super bold and close this is issue, but if there's something else going on, feel free to reopen or to open a new issue!

[2016-04-20 23:05] #28 closed

[2016-04-23 13:35] johnluo opened #29 "1 hours deploying, still pending."
Hello,

Today deployed the 0.7.9 version, faced the problem, it was running 1 hour, still pending on Updating Website Config process, how to deal with this case?

Thanks

John

[2016-04-25 07:03] felixrieseberg commented on #29
Hmm, weird - I'd try deleting the website and trying it again.

[2016-04-28 20:58] kevinkuszyk opened #30 "Deployment fails"
I just tried a couple of deploys, but both times it failed:

![image](https://cloud.githubusercontent.com/assets/2734580/14901141/e11cb2ec-0d8b-11e6-9225-f5bc260d78b0.png)

Are the any logs so I can try to help find a fix?

These are the screenshots from the Azure Portal:

![image](https://cloud.githubusercontent.com/assets/2734580/14901183/1b2f64e8-0d8c-11e6-9dd7-3e9ed1379bf3.png)

![image](https

[2016-05-01 21:02] mtaanquist commented on #30
I am experiencing the same.

[2016-05-03 21:27] bricin commented on #30
Seems like it's getting worse... the primary dialog gets stuck on Step 1.

![image](https://cloud.githubusercontent.com/assets/1676473/14998930/1c418642-113b-11e6-9147-562477cbbd31.png)

[2016-05-03 22:13] kevinkuszyk commented on #30
@davidebbo any chance you could have a look at this?

[2016-05-03 22:18] davidebbo commented on #30
Try looking at the `Microsoft.Resources/deployments` for the resource group in https://resources.azure.com/

[2016-05-03 22:26] davidebbo commented on #30
Other thing to try: after the failure, go to Portal under Deployment Source for the site, and look at the deployment log

[2016-05-04 00:13] simoneriksson100 commented on #30
I am getting the same failure error attempting to deploy. When looking at the deploy logs in **Publishing** -> **Deploy source** it shows the failure reason as "REASON :wrench: Update to Node v4". The log is attached.
[azure_deploy_failure_04052016.txt](https://github.com/felixrieseberg/Ghost-Azure/files/247981/azure_deploy_failure_04052016.txt)

[2016-05-04 00:52] davidebbo commented on #30
Seems the errors all start with:

[code]

I wonder if something changed on npm that messes it up. I'm guessing that trying to run npm install manually in site\wwwroot from Kudu console would fail in the same way?

[2016-05-04 01:14] simoneriksson100 commented on #30
I will do a bit more debugging in a little while, but it seems changing to http instead of https for the registry.npmjs.org fetches resolves the issue.

[2016-05-04 07:16] felixrieseberg commented on #30
@davidebbo: Any reason why Web Apps wouldn't be able to establish a connection to npm? I don't think there's anything we can do from the repo here, is there?

[2016-05-04 14:16] davidebbo commented on #30
I can't think of any. We need to isolate this further. e.g.
- when going to [Kudu Console](https://github.com/projectkudu/kudu/wiki/Kudu-console), does it completely fail to talk to the npm server even when doing a simple `curl` to those uri?
- does it happen everywhere or just in some locations?

[2016-05-04 14:55] kevinkuszyk commented on #30
`curl` works for me in the Kudo Console:

![image](https://cloud.githubusercontent.com/assets/2734580/15017962/a64d36b8-120f-11e6-813b-97580a9ee707.png)

but not `npm install`

![image](https://cloud.githubusercontent.com/assets/2734580/15018110/34759ae8-1210-11e6-9445-44d147a93566.png)

Let me know if there's any more I can do my end to help identify the issue.

[2016-05-04 15:02] davidebbo commented on #30
What if you directly try to install those same packages in Kudu Console? e.g. `npm install -g wrappy`. If that works, could there be anything special in the way npm runs in the context of the Ghost repo?

[2016-05-04 15:17] kevinkuszyk commented on #30
Well, that's odd:

![image](https://cloud.githubusercontent.com/assets/2734580/15018870/6d9ba79c-1213-11e6-8940-3cced6862cfc.png)

I don't know enough about npm or how the Azure Web App machines are setup to know why that worked but `npm install` doesn't.  Any ideas?

[2016-05-04 18:04] davidebbo commented on #30
I think it has to do with exceeding some connection quota in the [sandbox](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox). I need to dig deeper. Are you all seeing this on Free/Shared sites? In theory, this should not happen in Basic/Standard sites.

[2016-05-04 18:06] mtaanquist commented on #30
I attempted to set up the Ghost install on a Free-tier, but I can try it out on a higher tier later. 

[2016-05-04 20:26] mtaanquist commented on #30
Just tried to spin it up on a Basic tier, and that seemed to work correctly.

[2016-05-04 22:56] davidebbo commented on #30
Yes, here is the deal:
- in Free/Shared mode, the sandbox caps the number of concurrent socket connections to 250, which normally is a lot. No cap in Basic/Standard.
- but npm can go really crazy with opened connections, and in some cases can blow that cap, leading to connection failures

This appears to be a known issue with npm. e.g. read the more recent comments from https://github.com/npm/npm/

[2016-05-05 20:03] kevinkuszyk commented on #30
Thanks @davidebbo - thats fixed it for me too.

A brand new deploy to a basic plan worked, and scaling my free plan up to basic for the deploy and then back down to free also worked.

[2016-05-05 20:03] #30 closed

[2016-05-11 18:28] cicorias commented on #30
Not sure what is going on, but I just did a Standard w/ Medium size worker and got this..  Sits on building for quite some time until it finally failed.

[code]

[2016-05-12 01:56] davidebbo commented on #30
@cicorias That looks like a very separate issue, discussed on https://github.com/npm/registry/issues/10. People are seeing this on EC2 and other places. It seems for that one upgrading npm is the answer. Also, I'm not sure those errors are actually harmful.

Back to the `EACCES` issue, we are looking at raising the limit, which should help. Look for a change around the end of the month.

[2016-05-12 02:09] cicorias commented on #30
@davidebbo - ok - seems that others have been able to get passed that issue with a different version of node - `4.4.x` - i'll try that with the IIS yaml and see how it goes, not sure what versions are on the box buy I'll poke around..  Then i'll try an update to `npm` as well per that npm/registry#10

Just so you know this was failing direct from the "Deploy to Azure" button integration. But, once

[2016-05-13 17:26] tsmithco opened #33 "Deployment failed"
Spins at Setting up source for a long while, then deployment failed.  MDSN account, chose standard.

In Azure, under deployments -  Server farm and sites deploy ok. Sites/sourcecontrol shows status "conflict" and lists this error:

OPERATION ID40602CC8A67AE493
TRACKING ID5523cb0a-3a82-40f7-8afb-ceafb41c394e
STATUSConflict
PROVISIONING STATEFailed
TIMESTAMP5/13/2016, 1:16:10 PM
DURATIONPT11M11.7995

[2016-05-14 16:30] davidebbo commented on #30
Someone else reporting this [here](https://social.msdn.microsoft.com/Forums/en-US/04b70322-38c2-45d6-9de9-b0dddb6b041c/ghost-079-deploy-from-github-fails-consistently?forum=windowsazurewebsitespreview). @felixrieseberg any chance to upgrade so it uses newer npm?

[2016-05-14 17:44] felixrieseberg commented on #30
Ghost supports the Node LTS release (so we're stuck with the latest LTS for now), but I set the npm version manually to the latest available on Azure (3.8.6).

@davidebbo: That too is a few versions behind the latest available (3.8.9 is the latest patch, 3.9.1 the latest minor). This is a total off-topic, but let me know if we should build you a little script that just shovels all available versio

[2016-05-14 18:02] cicorias commented on #30
there are npm versions in `"d:\program files (x86)\npm`

[code]

[2016-05-14 18:03] felixrieseberg commented on #30
Yes, exactly, please notice how 3.8.6 is the last available one ;-)

[2016-05-14 18:07] cicorias commented on #30
also, instead of updating or specifying the node version in the `iisnode.yaml` file, why isn't the package.json updated to reflect preference but with the higher versions first?

[code]

[2016-05-14 18:11] felixrieseberg commented on #30
I'd like to change the original Ghost files as little as possible - the only reason I'm locking down the Node version at all is to ensure that pre-gyp (on the free tier) is able to find binaries for sqlite3 (which usually takes a while after a Node release).

This is basically a long flowchart of "if we could [...] then we wouldn't have to [...]" 🏄

[2016-05-14 20:26] davidebbo commented on #30
One problem I found is that Kudu doesn't support the caret syntax (e.g. ^4.2.0), because it's using an ancient semver.js from days where the syntax didn't exist. I think that's at least partially the root of some issues. I'll look into fixing that.

[2016-05-16 12:19] DeathsPirate commented on #33
Same as above.

Error from deploy.azure.com is:

Failed to acquire content from your repository.

[2016-05-16 21:51] davidebbo commented on #30
This should be solved by this PR: #34. You can try it before it gets merged on my fork: https://github.com/davidebbo-test/Ghost-Azure

[2016-05-26 17:35] xt0rted opened #36 "Successful deploy, but the site keeps returning a 500 error"
I've just deployed through the marketplace and deploy to azure button on the repo a number of times. The deploy always succeeds, but after trying to go to the site I keep getting a 500 error.

This is the only thing being written to the log.

[code]

[2016-05-26 20:11] xt0rted commented on #36
I just deployed from the button again and the first time it failed (shared tier), though there was no error message aside from saying it failed. Then I tried again using a medium basic tier and that worked. First page load was a 500 error, but trying again a few minutes later resulted in the site loading.

[2016-05-27 13:51] johnluo commented on #29
now version 0.8.0 still same issues。。。

[2016-06-08 17:39] davidebbo opened #37 "Remove loggingEnabled and logDirectory from iisnode.yml"
I think for consistency, it’s best to remove both loggingEnabled and logDirectory. Then it will use the standard pattern:

-	Turn on App Logging in portal
-	Find logs in d:\home\LogFiles\Application

[2016-06-08 22:40] felixrieseberg commented on #37
Done.

[2016-06-08 22:40] #37 closed

[2016-06-09 00:27] davidebbo commented on #37
`loggingEnabled` is still there.

[2016-06-09 01:08] felixrieseberg commented on #37
You know, if Azure would run Node.js apps just fine, I'd also be pro disabling logs - but given that so many people have trouble installing it, I think we should leave it enabled by default. What do you think? Or does leaving it on interfere with the portal settings?

[2016-06-09 01:14] davidebbo commented on #37
I think it means it's always enabled and you need to change yml file manually to disable it. But maybe that's not big deal. Ok, let's stay with that until someone complains.

[2016-06-27 12:32] RyanONeill1970 opened #39 "Customising the Casper theme to include Disqus"
I have included Disqus in the post.hbs file and it works. The problem is that it will be overwritten with the next release.

Is there a recommended way to apply customisations to the standard theme? Seems I should copy the Casper theme and customise that instead.

[2016-06-27 12:39] RyanONeill1970 commented on #39
Ignore my dumb question, I've just stumbled across the code injection option in the Ghost settings which does exactly this.

[2016-06-27 12:39] #39 closed

[2016-06-27 16:52] felixrieseberg commented on #39
In the future, an alternative is also to just copy the theme and rename it. New releases (on Azure) only overwrite/add files, they never delete "additional" ones.

[2016-06-29 20:20] RyanONeill1970 opened #40 "Preserving URL rewriting with auto deploy"
I deploy from the main GitHub source repo and I'd like to keep the rewrites I have in web.config.

They are for rewriting www prefixes to the root domain.

Would it be possible to reference a rewrite.config file that from the web.config which is kept out of source control? This could then be created on the initial deploy. I could then keep my rewrites on upgrades.

It would break for existing upgr

[2016-07-05 14:20] TerribleDev commented on #40
couldn't you just simply fork the repo, add your commits, and then whenever there are new changes to pull down just rebase.

[2016-07-05 14:22] RyanONeill1970 commented on #40
I could (having not done a rebase, I think I could). Thank you.

[2016-07-05 14:24] TerribleDev commented on #40
I recently switched over to hexo from ghost, but when I ran ghost I ran it off this repo. That is exactly what I would do. I had a ton of stuff such as web.config's custom themes, and what not. Basically I had a bunch of commits, and whenever this repo changed I would just rebase the changes. Since I was not editing files created by this repo I never had any conflicts or anything.

[2016-07-17 20:19] nibras85 opened #41 "Please add ability to specify an Application Insights resource for telemetry during deployment"
I'd like to collect telemetry about my Ghost blog instance. It would be nice if I could specify an Application Insights resource to use during the deployment of the Ghost instance to Azure.

[2016-07-18 12:36] fboucher commented on #41
You can add it after the deployment.
For the client version go to the admin page of your blog. In the Code Injection section past the code in the Blog Header.

For the server side Application Insights, in the Azure Portal, Go to the Web App.
From the top section select Tools. From the right panel select Extensions. Click the +Add button in the new section that just pop and select Application Insig

[2016-07-18 13:27] nibras85 commented on #41
Thank you for your response. I did that and its collecting telemetry properly. This is more of a feature request.. for the deployment script to ask to specify or create an Application Insights resource during deployment. Thanks again.

[2016-07-18 13:27] #41 closed

[2016-07-28 15:42] jpsingleton opened #42 "0.9.0 please"
https://github.com/TryGhost/Ghost/releases/tag/0.9.0
https://dev.ghost.org/ghost-0-9-0/
http://support.ghost.org/how-to-upgrade/

[2016-07-29 17:36] felixrieseberg commented on #42
Thanks, now updated!

[2016-07-29 17:36] #42 closed

[2016-07-29 21:05] smereczynski opened #43 "Web Apps backup feature does not backup Ghost db"
If You configure backups feature on Azure Web Apps for site with Ghost, the ghost.db file will be not backed up because of some locks on disk C.

[2016-07-30 09:24] jpsingleton commented on #42
Awesome thanks. I see you've update https://github.com/AzureWebApps/Ghost-Azure too.

[2016-08-01 16:14] RyanONeill1970 commented on #43
Yes, this has just caused me a severe issue. My fault, I should have backed up manually first.

Azure didn't backup and deploy from zip and the updater app all failed, my content is now gone.

[2016-08-05 07:01] leolorenzoluis opened #45 "Failed to upgrade to 0.9"
When updating ghost, it looks lit successfully deployed but it won't load anything.
```iisnode was unable to establish named pipe connection to the node.exe process before the process terminated```

[2016-08-05 07:23] RyanONeill1970 commented on #45
I've seen this too, for some reason the package 'moment-time' (I think) failed to install on checking the logs.

The only way I could get round it was to deploy into a staging slot and upgrade that manually (npm install --production) via the kudu console, then copy my database over.

[2016-08-05 08:31] leolorenzoluis commented on #45
I looked at the logs and saw errors on some libraries under node_modules, such as

`ERROR: Cannot find module 'lodash/object/assign'`

or

[code]

I fixed it by removing node_modules folder in Kudu console, then rebuild again. I did have a staging slot where I tested 0.9 first, and didn't really wanna solve it by copying my database over and promoting that one as my production.

[2016-08-05 08:31] #45 closed

[2016-08-05 16:44] felixrieseberg opened #46 "Investigate npm install"

[2016-08-11 14:34] geetar85 opened #47 "Support other Email Services by leveraging config.js Host"
Support additional email services by allowing users to setup Host and Port via app settings instead of requiring one of the 3 services. I use SparkPost as my mailer and would like to set it up like so: https://vinaygopinath.me/tech/2016/06/14/sending-emails-from-ghost-with-nodemailer-and-sparkpost/

[2016-08-11 17:19] felixrieseberg commented on #47
It's a good idea. Do you want make a PR?

[2016-08-11 17:41] geetar85 commented on #47
Yeah I'll see if I can put one together

[2016-08-16 14:10] maxpavlov opened #48 "Update via sync faile"
Hello.

I've deployed ghost initially via Deploy to Azure button in the readme.md title. I've worked fine ever since, adding only content, not modifying the sources.

I've went into an old manage.azure console and clicked "Sync" as the Update section of readme implies.

Deployment went on for about 15 minutes and then failed. Here is a deployment log:

Thank you for help in advance.

[2016-08-16 14:17] maxpavlov commented on #48
Ok, running the same deployment again allowed me to upgrade successfully.

[2016-08-16 14:17] #48 closed

[2016-08-18 07:41] aqahtani opened #49 "Add mail.from in config.js"
Hello,
It would be great if we can amend the email configuration so it can read `mail.from` from an environment variable.  Following the guide on [ghost mail setup](http://support.ghost.org/mail), we could have the following mail config block:

    mail: {
        transport: 'SMTP',
        from: process.env.emailFrom, // email from address
        options: {
             service: process.env.emai

[2016-08-23 18:58] blustemy commented on #21
The Always On setting is sufficient. These are the settings I use in the Application settings on the new portal (https://portal.azure.com/):

![snip_20160823205554](https://cloud.githubusercontent.com/assets/2064304/17905634/052cf950-6974-11e6-91fa-f710e9a221b1.png)

[2016-08-30 19:29] dwhieb commented on #49
I actually recently opened a PR (https://github.com/felixrieseberg/Ghost-Azure/pull/44) for this.

[2016-08-30 19:32] dwhieb opened #50 "upgrade to Ghost 0.10.0"

[2016-09-07 03:37] namkam5 opened #51 "There is no option to upload a theme in my-domain.com/ghost/settings/general"
I see that in this deployment I can't upload theme by simply clicking upload as there is no option to do that.

Can anyone please tell me how to upload a theme to through this deployment seeing as I can't ssh into this server.

Thanks

[2016-09-07 18:12] baynezy commented on #50
+1

[2016-09-07 19:20] felixrieseberg commented on #50
Aaaaand done!

[2016-09-07 19:20] #50 closed

[2016-09-07 19:20] #49 closed

[2016-09-07 19:23] baynezy commented on #50
Awesome cheers

[2016-09-09 09:07] #51 closed

[2016-09-09 09:08] namank42 commented on #51
With the 0.10.0 Update ghost is giving an upload option in azure thanks

[2016-09-10 18:33] mikecousins commented on #33
Yeah, same issue. Just keeps failing.

[2016-09-11 04:09] mikecousins opened #52 "Page still blank after successful deployment and one hour of waiting"
I'm using a Standard: Medium app service plan. I tried the Microsoft fork of this (https://github.com/AzureWebApps/Ghost-Azure) and it worked fine after a couple minutes. But when I try this one it never displays anything.

[2016-09-11 06:00] DeathsPirate commented on #33
Solved it by switching off the redirect rules. Hacky fix but I'll look into a better way now I've narrowed it down

[2016-09-12 13:58] RyanONeill1970 commented on #43
Found this, would it be possible to integrate this into the main build?
https://tomssl.com/2016/09/12/backup-your-sqlite-database-with-zero-downtime-when-running-ghost-in-azure-web-apps/

[2016-09-15 22:58] TomChantler commented on #43
Thanks Ryan, I was intending to contact the team and mention this myself. I'm really sorry to hear you lost your data. That's rough (to say the least).

I'm actually in the process of making a better (and very simple) way of keeping Ghost completely up to date in Azure with zero downtime which will include a version of this WebJob (or something broadly similar). There'll be a follow-up blog post a

[2016-09-15 23:01] TomChantler commented on #21
My settings are the same as yours @blustemy. I never use 64-bit unless I have to as it wastes memory - as pointed out by Scott Hanselman: https://www.hanselman.com/blog/PennyPinchingInTheCloudYourWebAppDoesntNeed64bit.aspx

[2016-09-17 15:49] tirolo opened #55 "Thank you!"
Just wanted to say thank you for the amazing job! :)

[2016-09-17 15:54] tirolo commented on #52
I had similar issue, what I did to work around it was to delete all the resources from azure (at the resource group level) and followed the steps again.

I also had some issues with the "https" so when you are redirected to azure you end up with this link: https://deploy.azure.com/?repository=https://github.com/felixrieseberg/Ghost-Azure#/form/deploy

For it to work I had to change it to: https://

[2016-09-17 15:58] tirolo commented on #47
Any suggestions on how to implement it?

[2016-09-19 03:06] mikecousins commented on #52
That's not really an option for me as I have many other websites running on my App Service Plan. :(

Could this also be because I just set the external repository to this one? Is that method of installation supported?

Full timeline:
- Tried this package using the Deploy button and the deployment failed several times. Gave up.
- Tried the official Azure version (https://azure.microsoft.com/en-us/m

[2016-09-19 03:51] mikecousins commented on #52
I tried again now creating a new everything (and then switching app service plans afterwards) and it definitely worked that way.

[2016-09-19 03:52] mikecousins commented on #52
Should I close this now or should it also work by just specifying this repository?

[2016-09-20 19:20] RyanONeill1970 commented on #43
That's good. I did manage to recover enough to continue, as I say, my fault, I knew what I was doing when I chose not to copy the file before upgrading...

[2016-10-12 15:53] edwardwilson opened #57 "Ghost url not using custom domain"
After deploying to azure I added a custom domain. I updated the setting in the azure portal to reflect my change. The setting now reads: https://edwardwilson.me. However my theme which uses the url helper in ghost still returns the azurewebsites.net url. I have restarted many times.

[2016-10-17 02:55] FlyOrDie commented on #33
@DeathsPirate hmm, can you share you solution in more details plz? :)

[2016-10-17 12:40] FlyOrDie commented on #57
Same here. My custom domain works, but when i try to go to mysite.domain/ghost i am redirected to mysite.azurewebsites.net/ghost and it fails. I updated the websiteUrl to http://mysite.domain, but it doesn't still works

[2016-10-17 20:28] zblesk opened #58 "How to deploy into a subfolder?"
The default setup process worked well. But I'd like to have two different blogs on my web, living in different subfolders. (One in English, other in Slovak - I don't want to mix them in a single list.)
I haven't been able to make it run in the subfolder. I've tried the obvious googled solutions, but no luck so far.

The most output I got was:

`The page cannot be displayed because an internal serv

[2016-11-03 07:26] codermee opened #59 "Setting websiteUrl to custom domain makes Ghost not working"
I have a custom domain for my Ghost blog which works well, but going into admin mode redirects to my azurewebsites url and the logo uses the azurewebsites url as well and I don´t want that. I understand websiteUrl should fix this but when I add my custom domain there, save and restart the WebApp I get a HTTP 500 error until I remove the websiteUrl setting in the portal.

[2016-12-11 10:18] #59 closed

[2016-12-11 10:19] pliljecrantz commented on #57
Same here, but when I add my custom domain to websiteUrl, save and restart the WebApp I get a HTTP 500 error until I remove the websiteUrl setting in the portal.

[2016-12-13 21:33] Selmirrrrr commented on #57
Anyone with a solution here ?

[2016-12-13 22:00] fboucher commented on #57
Witch version of Ghost are you using?

[2016-12-13 22:04] Selmirrrrr commented on #57
The latest, 0.11.3 just upgraded yesterday, but the issue was also there on previous versions.

[2016-12-14 20:13] pliljecrantz commented on #57
Same as above, just upgraded a few days ago to 0.11.3 and the error persists since earlier versions as well.

[2017-01-04 17:11] marcomangiante commented on #21
Is there still the problem that the site goes down in shared app pool? I ask this because it is not possible to set AlwaysOn parameter for shared apps.

[2017-01-06 00:32] TerribleDev commented on #21
you could try using a free ping service like uptime robot to keep your site alive.

[2017-01-19 17:03] piyushpaliwal commented on #57
@FlyOrDie The reason why you get redirected to azurewebsites is because `/ghost` is the admin panel and you want this to be served over HTTPS thus it uses the wildcard certificate `*.azurewebsites.net` that Microsoft provides.
In a nutshell whatever you are experiencing is absolutely ok :)

[2017-01-19 17:06] piyushpaliwal commented on #57
@edwardwilson under the app setting you might want to add a new key `WebsiteUrlSSL` and mention your https link here and revert the `WebsiteUrl` back to http link of your custom domain.
Finally restart the app and it should be back to normal.

[2017-01-24 03:41] Porges commented on #57
Thanks, @piyushpaliwal. Setting `WebsiteUrlSSL` did indeed solve the problem.

[2017-03-24 23:08] kdcllc commented on #57
@felixrieseberg, WebsiteUrlSSL was the same fix for me. Maybe it can be default value part of the deploy profile.

[2017-03-25 01:40] kdcllc opened #63 "MP3 files support"
I am trying to figure out how to enable mp3 support with azure hosting and ghost. Is it possible to include some of the web.config exception in the default deploy?

[2017-05-15 02:29] mjhilton opened #67 "LetsEncrypt is broken by Ghost's rewrite rule"
The `/.well-known/acme-challenge/` is being caught by the URI Rewrite rule which redirects all requests to the Node handler, resulting in failed [LetsEncrypt](https://letsencrypt.org) challenges via automated provisioning like the [Azure Let's Encrypt site extension](https://github.com/sjkp/letsencrypt-siteextension).

[2017-05-15 04:13] #67 closed

[2017-05-22 01:06] darrenshrwd commented on #57
Arggh!!! :-) The readme page should be updated to mention WebsiteUrlSSL

[2017-07-13 20:54] jonny64bit opened #70 "Version v0.11.10"
Is there any scope of getting upgraded to v0.11.10?

[2017-07-13 22:51] felixrieseberg commented on #70
Would you be interested in making a PR?

[2017-07-13 22:57] jonny64bit commented on #70
I'm completely new to ghost so I'm next to useless on this one unfortunately or I would.

[2017-08-02 23:02] mikecousins opened #71 "1.4.0 upgrade"
Any chance you'll be upgrading this one day for the new Ghost? I took a stab at it myself but it's a pretty involved upgrade with the amount of stuff they changed for the 1.0 release.

[2017-08-03 11:18] felixrieseberg commented on #71
Probably not right away (I'm trying to ensure that Ghost Desktop is updated first), but I'd be super excited about a PR!

[2017-08-09 22:13] chadly commented on #71
I'm playing around with trying to get this to work, but it seems with [ghost's new configuration system in v1](https://dev.ghost.org/nconf/), you now have to pass the `PORT` environment variable as `SERVER__PORT` [as outlined here](https://docs.ghost.org/v1.0.0/docs/config#section-running-ghost-with-config-env-variables).

I can't find much docs on iisnode. Is there a way to get it to send the por

[2017-08-10 07:01] soydachi commented on #71
I'm interested to upgrading to the newer version. But without success. If someone get it working, will great to share how.
Thank's!

[2017-09-04 21:48] Leonerdy opened #72 "Invitation email was not sent. Please try resending."
I'm trying invite friends to blog but I have this error "Invitation email was not sent. Please try resending.", I configure in azure like in tutorial https://docs.ghost.org/docs mail config, emailService: Mailgun, emailUserName: postmaster@sandbox... and emailPassword: ****, I  can send email test in aba Labs for my email but I couldnt resolve this problem, some help please.

[2017-09-30 14:49] DevOpsBoondoggles commented on #71
I've pretty much just built my blog and found out that I'll probably be better upgrading before I do much now.  Appreciate you're working on another project, I don't have much coding skills beyond powershell but if you can point me in the direction to help, I don't mind trying

[2017-09-30 14:54] chadly commented on #71
For anyone interested, [I managed to get Ghost v1 working on azure](https://www.chadly.net/ghost-on-azure/). It is not nearly as elegant as the solution in this repo with the one-click deployment and all. But, it works for me.

[2017-09-30 15:12] DevOpsBoondoggles commented on #57
I've added a wiki page to cover this

https://github.com/felixrieseberg/Ghost-Azure/wiki/Setup-with-Custom-Domain-on-HTTPs-(Cloudflare-for-example)

[2017-09-30 15:31] DevOpsBoondoggles commented on #72
Heya,
not sure specifically but mine works fine with Sendgrid, I added a wikipage with instructions if that's any good

https://github.com/felixrieseberg/Ghost-Azure/wiki/Setup-Free-Mail-sender-for-the-blog-with-Sendgrid

[2017-09-30 15:53] DevOpsBoondoggles commented on #71
I am interested thanks for that Chadly. Sadly I think it's a bit out my league tech wise

[2017-09-30 15:57] Leonerdy commented on #72
yes, I solve my problem with sendgrid, i forgot put the solution here, tnks for your comment.

[2017-10-03 17:00] gazjones-0 commented on #71
Also if anyone's interested I also got Ghost 1.x running in Azure and did a one-click deployment for it - https://github.com/gazooka/GhostInAzureWebApp

I only found Chadly's repo after I'd got it running so experienced similar issues he did but my approach was a little different - install Ghost as an NPM module of my repo and then use iisnode to run it; this also makes upgrading pretty much just

[2017-10-03 17:03] DevOpsBoondoggles commented on #71
That's great thank you. Might need to have a look before I have more
content to shift

On Tue, 3 Oct 2017, 18:00 gazooka, <notifications@github.com> wrote:

[2017-10-24 09:13] soydachi commented on #71
Hi all! I have an problem with deploying ghost from vsts to azure.

- I loose my ghost config with all posts and theme configuration. _(For this I changed .gitignore, to ignore db files)_
- Changes made in css (screen.css) doesn't compile on "built" asset. How can I compile ghost? With npm start is not working I guess.

Thank you!

[2017-11-03 13:26] ch-hristov opened #74 "Deployment stuck on 'Setting up source control'"
I tried to deploy a blog on Azure but the process seems to be stuck on 'Setting up Source Control'. Am I doing something wrong?

[2017-11-16 19:48] RadoslavGatev commented on #71
Hello, guys!
You can take a look at https://github.com/solvsoftware/Ghost-Azure. We have released [v1.16.0](https://github.com/solvsoftware/Ghost-Azure/releases/tag/1.16.0). We are currently baking [v1.17.2](https://github.com/solvsoftware/Ghost-Azure/pull/5).

Any contributions are welcomed!

[2017-11-16 22:51] DevOpsBoondoggles commented on #71
That's awesome thanks. Can I use this to upgrade my blog at all.
Unfortunately I have no skills in this area to contribute

On Thu, 16 Nov 2017, 19:49 Radoslav Gatev, <notifications@github.com> wrote:

[2017-12-04 00:43] cmilanf commented on #71
With the Azure App Service on Linux it has become way easier to get Ghost working out of the box through Docker containers. I have cooked one with integrated Let's Encrypt TLS certificate management. In case this is useful for you: https://github.com/cmilanf/docker/tree/master/Linux/ghost-azurewebapplinux

[2017-12-29 17:12] cbartonnh commented on #74
@ch-hristov did you ever figure this out? I am trying to do this now and seeing the same...

** UPDATE **

Anyone experiencing this just needs to be patient. It tool quite a while but it did eventually finish.

[2017-12-29 18:51] ch-hristov commented on #74
Same. Just had to wait a while.

[2017-12-29 18:51] #74 closed

[2018-02-17 17:45] ZioExcel opened #75 "Issue with undefined.azurewebsites.net"
Hey Felix,

Having used your deployment with success, thanks for that! However whenever I create a new page it creates it with a url of undefined.azurewebsites.net which doesn't translate to anything.

Any idea what could be causing this?

[2018-03-26 18:37] abudhu opened #76 "v0.11.12"
Hi Felix:

Any plans or ETA on an update to 0.11.12?

Thanks!

[2018-06-22 21:06] chris-brown commented on #72
Do send grid have free plans? I believe mailgun.com do?

[2018-06-22 21:10] DevOpsBoondoggles commented on #72
Something like the first million a month are free if you sign up through azure so you’ll be okay I wager

Thanks
Gabriel

[2018-07-06 11:31] phil-w commented on #76
or  0.11.13

This installed fine, but does anyone know how to upgrade it?

[2019-01-22 00:20] markau commented on #76
v2? 😁

[2019-11-29 10:47] #70 closed

[2022-07-06 14:05] Josh-BI-UK opened #77 "Deploy to Azure button not working"
Hi @felixrieseberg , the Deploy to Azure button doesn't seem to be working. Is there an alternative to deployment?
![issue-git-hub-ghost-depoly-azure-not-working](https://user-images.githubusercontent.com/59780902/177569138-cd586625-7644-49bb-b97a-99c308b9b20d.PNG)